# Survey analysis using Pandas

Author: Ye Joo Park ([ypark32@illinois.edu](mailto:ypark32@illinois.edu))

- Data Source: [FiveThirtyEight - GitHub Repository](https://github.com/fivethirtyeight/data/tree/master/flying-etiquette-survey) 
- Relevant Article: [FiveThirtyEight - 41 Percent of Fliers Think You're Rude if You Recline Your Seat](https://fivethirtyeight.com/features/airplane-etiquette-recline-seat/)
- Data License: [CC-BY 4.0](https://creativecommons.org/licenses/by/4.0/)

In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.set_option('display.max_columns', 50)
pd.set_option('display.max_colwidth', 200)

In [3]:
pd.options.display.max_colwidth

200

### Read data

In [4]:
df = pd.read_csv('flying-etiquette.csv')
df

,RespondentID,How often do you travel by plane?,Do you ever recline your seat when you fly?,How tall are you?,Do you have any children under 18?,"In a row of three seats, who should get to use the two arm rests?","In a row of two seats, who should get to use the middle arm rest?",Who should have control over the window shade?,Is itrude to move to an unsold seat on a plane?,"Generally speaking, is it rude to say more than a few words tothe stranger sitting next to you on a plane?","On a 6 hour flight from NYC to LA, how many times is it acceptable to get up if you're not in an aisle seat?","Under normal circumstances, does a person who reclines their seat during a flight have any obligation to the person sitting behind them?",Is it rude to recline your seat on a plane?,"Given the opportunity, would you eliminate the possibility of reclining seats on planes entirely?",Is it rude to ask someone to switch seats with you in order to be closer to friends?,Is itrude to ask someone to switch seats with you in order to be closer to family?,Is it rude to wake a passenger up if you are trying to go to the bathroom?,Is itrude to wake a passenger up if you are trying to walk around?,"In general, is itrude to bring a baby on a plane?","In general, is it rude to knowingly bring unruly children on a plane?",Have you ever used personal electronics during take off or landing in violation of a flight attendant's direction?,Have you ever smoked a cigarette in an airplane bathroom when it was against the rules?,Gender,Age,Household Income,Education,Location (Census Region)
0,3436139758,Once a year or less,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3434278696,Once a year or less,About half the time,"6'3""",Yes,The arm rests should be shared,The arm rests should be shared,Everyone in the row should have some say,"No, not rude at all","No, not at all rude",Twice,"Yes, they should not recline their chair if the person behind them asks them not to","Yes, somewhat rude",No,"No, not at all rude","No, not at all rude","No, not at all rude","No, not at all rude","No, not at all rude","No, not at all rude",No,No,Male,30-44,NaN,Graduate degree,Pacific
2,3434275578,Once a year or less,Usually,"5'8""",No,Whoever puts their arm on the arm rest first,The arm rests should be shared,The person in the window seat should have exclusive control,"No, not rude at all","No, not at all rude",Three times,"Yes, they should not recline their chair if the person behind them asks them not to","No, not rude at all",No,"No, not at all rude","No, not at all rude","No, not at all rude","Yes, somewhat rude","Yes, somewhat rude","Yes, very rude",No,No,Male,30-44,"$100,000 - $149,999",Bachelor degree,Pacific
3,3434268208,Once a year or less,Always,"5'11""",No,The arm rests should be shared,The arm rests should be shared,Everyone in the row should have some say,"No, not rude at all","No, not at all rude",Three times,"No, the person on the flight has no obligation to the person behind them","No, not rude at all",No,"Yes, somewhat rude","No, not at all rude","No, not at all rude","Yes, somewhat rude","Yes, somewhat rude","Yes, very rude",No,No,Male,30-44,"$0 - $24,999",Bachelor degree,Pacific
4,3434250245,Once a month or less,About half the time,"5'7""",No,The person in the middle seat gets both arm rests,The person in aisle,Everyone in the row should have some say,"No, not rude at all","No, not at all rude",Twice,"No, the person on the flight has no obligation to the person behind them","No, not rude at all",No,"No, not at all rude","No, not at all rude","Yes, somewhat rude","Yes, somewhat rude","Yes, somewhat rude","Yes, very rude",Yes,No,Male,30-44,"$50,000 - $99,999",Bachelor degree,Pacific
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1035,3431732652,Once a year or less,Once in a while,"5'7""",No,Other (please specify),Other (please specify),Everyone in the row should have some say,"No, not rude at all","No, not at all rude",Three times,"Yes, they should not recline their chair if the person behind them asks them not to","Yes, somewhat rude",No,"No, not at all rude","No, not at all rude","No, not at all rude","No, not at all rude","Yes, somewhat rude","Yes, very rude",No,No,Male,30-44,"$0 - $24,999",Some college or Associate degree,East North Central
1036,3431731770,Never,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Male,45-60,150000,Bachelor degree,Pacific
1037,3431731485,Never,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female,> 60,NaN,Some college or Associate degree,East North Central
1038,3431731196,Never,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Female,30-44,"$50,000 - $99,999",Bachelor degree,New England
1039,3431729581,Once a year or less,Once in a while,"6'3""",No,The arm rests should be shared,The arm rests should be shared,Everyone in the row should have some say,"No, not rude at all","No, not at all rude",Three times,"Yes, they should not recline their chair if the person behind them asks them not to","Yes, somewhat rude",No,"No, not at all rude","No, not at all rude","Yes, somewhat rude","Yes, somewhat rude","Yes, somewhat rude","Yes, very rude",No,No,Male,> 60,"$50,000 - $99,999",Bachelor degree,Pacific

How many rows and columns?

In [5]:
df.shape

(1040, 27)

In [6]:
df.columns

Index(['RespondentID', 'How often do you travel by plane?',
       'Do you ever recline your seat when you fly?', 'How tall are you?',
       'Do you have any children under 18?',
       'In a row of three seats, who should get to use the two arm rests?',
       'In a row of two seats, who should get to use the middle arm rest?',
       'Who should have control over the window shade?',
       'Is itrude to move to an unsold seat on a plane?',
       'Generally speaking, is it rude to say more than a few words tothe stranger sitting next to you on a plane?',
       'On a 6 hour flight from NYC to LA, how many times is it acceptable to get up if you're not in an aisle seat?',
       'Under normal circumstances, does a person who reclines their seat during a flight have any obligation to the person sitting behind them?',
       'Is it rude to recline your seat on a plane?',
       'Given the opportunity, would you eliminate the possibility of reclining seats on planes entirely?',
       'Is it rude to ask someone to switch seats with you in order to be closer to friends?',
       'Is itrude to ask someone to switch seats with you in order to be closer to family?',
       'Is it rude to wake a passenger up if you are trying to go to the bathroom?',
       'Is itrude to wake a passenger up if you are trying to walk around?',
       'In general, is itrude to bring a baby on a plane?',
       'In general, is it rude to knowingly bring unruly children on a plane?',
       'Have you ever used personal electronics during take off or landing in violation of a flight attendant's direction?',
       'Have you ever smoked a cigarette in an airplane bathroom when it was against the rules?',
       'Gender', 'Age', 'Household Income', 'Education',
       'Location (Census Region)'],
      dtype='object')

In [7]:
column_names = df.columns[1:-5].to_series().reset_index(drop=True)
column_names

0                                                                                                            How often do you travel by plane?
1                                                                                                  Do you ever recline your seat when you fly?
2                                                                                                                            How tall are you?
3                                                                                                           Do you have any children under 18?
4                                                                            In a row of three seats, who should get to use the two arm rests?
5                                                                            In a row of two seats, who should get to use the middle arm rest?
6                                                                                               Who should have control over the window shade?
7                                                                                              Is itrude to move to an unsold seat on a plane?
8                                   Generally speaking, is it rude to say more than a few words tothe stranger sitting next to you on a plane?
9                                 On a 6 hour flight from NYC to LA, how many times is it acceptable to get up if you're not in an aisle seat?
10    Under normal circumstances, does a person who reclines their seat during a flight have any obligation to the person sitting behind them?
11                                                                                                 Is it rude to recline your seat on a plane?
12                                           Given the opportunity, would you eliminate the possibility of reclining seats on planes entirely?
13                                                        Is it rude to ask someone to switch seats with you in order to be closer to friends?
14                                                          Is itrude to ask someone to switch seats with you in order to be closer to family?
15                                                                  Is it rude to wake a passenger up if you are trying to go to the bathroom?
16                                                                          Is itrude to wake a passenger up if you are trying to walk around?
17                                                                                           In general, is itrude to bring a baby on a plane?
18                                                                       In general, is it rude to knowingly bring unruly children on a plane?
19                          Have you ever used personal electronics during take off or landing in violation of a flight attendant's direction?
20                                                     Have you ever smoked a cigarette in an airplane bathroom when it was against the rules?
dtype: object

In [8]:
df_questions = pd.DataFrame({
    'qid': 'Q' + pd.Series(range(1, len(column_names) + 1)).astype(str),
    'text': column_names
})

df_questions

,qid,text
0,Q1,How often do you travel by plane?
1,Q2,Do you ever recline your seat when you fly?
2,Q3,How tall are you?
3,Q4,Do you have any children under 18?
4,Q5,"In a row of three seats, who should get to use the two arm rests?"
5,Q6,"In a row of two seats, who should get to use the middle arm rest?"
6,Q7,Who should have control over the window shade?
7,Q8,Is itrude to move to an unsold seat on a plane?
8,Q9,"Generally speaking, is it rude to say more than a few words tothe stranger sitting next to you on a plane?"
9,Q10,"On a 6 hour flight from NYC to LA, how many times is it acceptable to get up if you're not in an aisle seat?"
10,Q11,"Under normal circumstances, does a person who reclines their seat during a flight have any obligation to the person sitting behind them?"
11,Q12,Is it rude to recline your seat on a plane?
12,Q13,"Given the opportunity, would you eliminate the possibility of reclining seats on planes entirely?"
13,Q14,Is it rude to ask someone to switch seats with you in order to be closer to friends?
14,Q15,Is itrude to ask someone to switch seats with you in order to be closer to family?
15,Q16,Is it rude to wake a passenger up if you are trying to go to the bathroom?
16,Q17,Is itrude to wake a passenger up if you are trying to walk around?
17,Q18,"In general, is itrude to bring a baby on a plane?"
18,Q19,"In general, is it rude to knowingly bring unruly children on a plane?"
19,Q20,Have you ever used personal electronics during take off or landing in violation of a flight attendant's direction?
20,Q21,Have you ever smoked a cigarette in an airplane bathroom when it was against the rules?

In [9]:
columns = pd.Series(df.columns)
columns.iloc[1:-5] = df_questions['qid']
df.columns = columns
df.head(5)

,RespondentID,Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11,Q12,Q13,Q14,Q15,Q16,Q17,Q18,Q19,Q20,Q21,Gender,Age,Household Income,Education,Location (Census Region)
0,3436139758,Once a year or less,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3434278696,Once a year or less,About half the time,"6'3""",Yes,The arm rests should be shared,The arm rests should be shared,Everyone in the row should have some say,"No, not rude at all","No, not at all rude",Twice,"Yes, they should not recline their chair if the person behind them asks them not to","Yes, somewhat rude",No,"No, not at all rude","No, not at all rude","No, not at all rude","No, not at all rude","No, not at all rude","No, not at all rude",No,No,Male,30-44,NaN,Graduate degree,Pacific
2,3434275578,Once a year or less,Usually,"5'8""",No,Whoever puts their arm on the arm rest first,The arm rests should be shared,The person in the window seat should have exclusive control,"No, not rude at all","No, not at all rude",Three times,"Yes, they should not recline their chair if the person behind them asks them not to","No, not rude at all",No,"No, not at all rude","No, not at all rude","No, not at all rude","Yes, somewhat rude","Yes, somewhat rude","Yes, very rude",No,No,Male,30-44,"$100,000 - $149,999",Bachelor degree,Pacific
3,3434268208,Once a year or less,Always,"5'11""",No,The arm rests should be shared,The arm rests should be shared,Everyone in the row should have some say,"No, not rude at all","No, not at all rude",Three times,"No, the person on the flight has no obligation to the person behind them","No, not rude at all",No,"Yes, somewhat rude","No, not at all rude","No, not at all rude","Yes, somewhat rude","Yes, somewhat rude","Yes, very rude",No,No,Male,30-44,"$0 - $24,999",Bachelor degree,Pacific
4,3434250245,Once a month or less,About half the time,"5'7""",No,The person in the middle seat gets both arm rests,The person in aisle,Everyone in the row should have some say,"No, not rude at all","No, not at all rude",Twice,"No, the person on the flight has no obligation to the person behind them","No, not rude at all",No,"No, not at all rude","No, not at all rude","Yes, somewhat rude","Yes, somewhat rude","Yes, somewhat rude","Yes, very rude",Yes,No,Male,30-44,"$50,000 - $99,999",Bachelor degree,Pacific

In [10]:
df.isna().sum()

RespondentID                  0
Q1                            0
Q2                          182
Q3                          182
Q4                          189
Q5                          184
Q6                          184
Q7                          184
Q8                          185
Q9                          185
Q10                         185
Q11                         186
Q12                         186
Q13                         186
Q14                         190
Q15                         190
Q16                         190
Q17                         190
Q18                         191
Q19                         191
Q20                         191
Q21                         191
Gender                       33
Age                          33
Household Income            214
Education                    39
Location (Census Region)     42
dtype: int64

In [18]:
for qid in df_questions['qid']:
    print('========')
    print(qid + ': ' + df_questions[df_questions['qid'] == qid]['text'].iloc[0])
    display(df[qid].value_counts().to_frame().reset_index(names='Text'))

========
Q1: How often do you travel by plane?

                    Text   Q1
0    Once a year or less  633
1   Once a month or less  205
2                  Never  166
3  A few times per month   29
4   A few times per week    4
5              Every day    3

========
Q2: Do you ever recline your seat when you fly?

                  Text   Q2
0      Once in a while  257
1              Usually  175
2                Never  171
3               Always  137
4  About half the time  118

========
Q3: How tall are you?

              Text  Q3
0             5'4"  79
1             5'8"  76
2             5'7"  76
3             5'6"  75
4             5'9"  72
5             5'5"  71
6            5'10"  67
7             6'0"  57
8            5'11"  54
9             5'3"  48
10            5'2"  45
11            6'2"  27
12            6'1"  26
13            5'1"  19
14            6'3"  18
15            5'0"  17
16     Under 5 ft.  12
17            6'4"  11
18            6'5"   6
19  6'6" and above   2

========
Q4: Do you have any children under 18?

  Text   Q4
0   No  662
1  Yes  189

========
Q5: In a row of three seats, who should get to use the two arm rests?

                                                          Text   Q5
0                               The arm rests should be shared  587
1            The person in the middle seat gets both arm rests  119
2                 Whoever puts their arm on the arm rest first   87
3                                       Other (please specify)   45
4  The people in the aisle and window seats get both arm rests   18

========
Q6: In a row of two seats, who should get to use the middle arm rest?

                                           Text   Q6
0                The arm rests should be shared  583
1  Whoever puts their arm on the arm rest first  132
2                           The person in aisle   63
3                      The person by the window   41
4                        Other (please specify)   37

========
Q7: Who should have control over the window shade?

                                                          Text   Q7
0                     Everyone in the row should have some say  495
1  The person in the window seat should have exclusive control  361

========
Q8: Is itrude to move to an unsold seat on a plane?

                  Text   Q8
0  No, not rude at all  690
1   Yes, somewhat rude  128
2       Yes, very rude   37

========
Q9: Generally speaking, is it rude to say more than a few words tothe stranger sitting next to you on a plane?

                  Text   Q9
0  No, not at all rude  675
1   Yes, somewhat rude  153
2       Yes, very rude   27

========
Q10: On a 6 hour flight from NYC to LA, how many times is it acceptable to get up if you're not in an aisle seat?

                                     Text  Q10
0                             Three times  296
1                                   Twice  277
2                              Four times  111
3              More than five times times   91
4                                    Once   67
5  It is not okay to get up during flight   13

========
Q11: Under normal circumstances, does a person who reclines their seat during a flight have any obligation to the person sitting behind them?

,Text,Q11
0,"Yes, they should not recline their chair if the person behind them asks them not to",543
1,"No, the person on the flight has no obligation to the person behind them",311

========
Q12: Is it rude to recline your seat on a plane?

                  Text  Q12
0  No, not rude at all  502
1   Yes, somewhat rude  281
2       Yes, very rude   71

========
Q13: Given the opportunity, would you eliminate the possibility of reclining seats on planes entirely?

  Text  Q13
0   No  595
1  Yes  259

========
Q14: Is it rude to ask someone to switch seats with you in order to be closer to friends?

                  Text  Q14
0  No, not at all rude  631
1   Yes, somewhat rude  184
2       Yes, very rude   35

========
Q15: Is itrude to ask someone to switch seats with you in order to be closer to family?

                  Text  Q15
0  No, not at all rude  705
1   Yes, somewhat rude  125
2       Yes, very rude   20

========
Q16: Is it rude to wake a passenger up if you are trying to go to the bathroom?

                  Text  Q16
0  No, not at all rude  535
1   Yes, somewhat rude  281
2       Yes, very rude   34

========
Q17: Is itrude to wake a passenger up if you are trying to walk around?

                  Text  Q17
0   Yes, somewhat rude  446
1  No, not at all rude  226
2       Yes, very rude  178

========
Q18: In general, is itrude to bring a baby on a plane?

                  Text  Q18
0  No, not at all rude  592
1   Yes, somewhat rude  182
2       Yes, very rude   75

========
Q19: In general, is it rude to knowingly bring unruly children on a plane?

                  Text  Q19
0       Yes, very rude  351
1   Yes, somewhat rude  351
2  No, not at all rude  147

========
Q20: Have you ever used personal electronics during take off or landing in violation of a flight attendant's direction?

  Text  Q20
0   No  713
1  Yes  136

========
Q21: Have you ever smoked a cigarette in an airplane bathroom when it was against the rules?

  Text  Q21
0   No  842
1  Yes    7